.login-page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(231, 231, 231);
  height: 100vh;
  overflow: hidden;
  z-index: 2;
}
.image_login {
  margin: 0;
  padding: 0;
  width: 20%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}
.image_login img {
  object-fit: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
}
.container {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .logo-login {
  display: block;
  width: 100%;
  height: 70px;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.container .label {
  display: block;
  font-size: 1rem;
  color: #535353;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.container #EmailInput,
#InputPassword {
  padding: 1rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: #efefef;
}
.container .checkbox {
  margin-top: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  -ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
  -o-transform: scale(1.3); /* Opera */
  transform: scale(1.3);
  padding: 10px;
  background-color: #00a4e4;
}
.container .label-checkbox {
  color: #949494;
  width: 60%;
}
.bottom a {
  color: #949494;
}
.container button {
  padding: 1rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: #00a4e4;
  color: white;
  font-size: 1rem;
  margin-top: 3rem;
}
.container button:hover {
  background-color: #3b3b3b;
}
.text-notice {
  color: #949494;
  font-size: 1rem;
  margin-top: 1rem;
}
.text-notice a {
  text-decoration: none;
  color: #00a4e4;
}
@media screen and (max-width: 900px) {
  .login-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(231, 231, 231);
    z-index: 2;
  }
  .image_login {
    display: block;
    width: 100%;
    height: 30%;
  }
  .container {
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  /* Styling the signup page */
}
.register-page {
  background-color: rgb(231, 231, 231);
  height: 100vh;
  overflow: hidden;
  z-index: 2;
}
.container-signup {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-signup .logo-login {
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
.logo-login img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.container-signup .label {
  display: block;
  font-size: 1rem;
  color: #535353;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}
.container-signup .input-container {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
}
.input-container input {
  width: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #efefef;
  border: none;
  outline: none;
}
.acc-header {
  color: #00a4e4;
}
.containue {
  color: #00a4e4;
  float: right;
}
.container-signup .register {
  width: 7rem;
  padding: 1rem;
  margin-left: 3rem;
  background-color: #00a4e4;
  margin-bottom: 0.4rem;
  color: #efefef;
  border: none;
  border-radius: 5px;
}
.container-signup .register:hover { 
    background-color: #3b3b3b;
  }
.container-signup .label-bottom {
  color: #949494;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.label-bottom a {
  color: #00a4e4;
  text-decoration: none;
}
.text-right::after {
  content: " >";
}
.text-right {
  font-weight: 600;
}
.text-left::before {
  content: "< ";
}
.text-left {
  font-weight: 600;
}

/* Responsiveness of the signup page */
@media screen and (max-width: 900px) {
  .container-signup {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }
}
