.user-dashboard {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.dashboard-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.interests,
.bookings,
.places {
  position: relative;
  width: 330px;
  height: 120px;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-left: 1rem;
}

.bookings h5 {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.bookings h1 {
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}.interests h5 {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.interests h1 {
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}
.places h5 {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.places h1 {
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}
.interests{
  background-color: rgba(50, 151, 218, 0.7);
  color:#ffffff;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

}
.bookings{
  background-color: #56c928;
  color:#ffffff;
}
.places{
  background-color: #59a5b8;
  color:#ffffff;
}
.data-display {
  display: block;
  width: 100%;
}
.visuals {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.graph,
.chart {
  padding: 1rem;
  width: 46%;
  height: 500px;
  margin: 1rem;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: #fff;
}
